* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #070707, #383838);
}

.calculadora {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 70px 40px 40px 40px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
    border-radius: 50px;
    border: 1px solid #fafafa;
}

table {
    border-spacing: 7px;
}

.display {
    background-color: greenyellow;
    margin-bottom: 15px;
    height: 45px;
    padding: 0 10px;
    line-height: 45px;
    text-align: right;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: #1a1a1a;
    color: #fafafa;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    transform: scale(1.055)
}

.op {
    background-color: #00a878;
}

.limpar {
    background-color: tomato;
}

.igual {
    background-color: tomato;
}
